.c-pointer{
    cursor: pointer;
}

.c-nav-link{
    padding: 5px 25px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: transparent;
    color: #1E3E71;
    font-weight: 500;
}

.c-nav-link.active{
    background-color: #EBF1FA;
    color: #597FBD;
}

.c-nav-link:hover,
.c-nav-link:active{
    background-color: #EBF1FA;
    color: #597FBD;
}

@media (max-width: 768px) {

    .c-navbar-toggler{
        border:none;
    }

    .c-navbar-nav{
        width:100%;
        // border-bottom-right-radius: 10px;
        // border-bottom-left-radius: 10px;
        background-color: #EBF1FA;
    }
    .c-nav-link{
        width:100%;
        padding: 10px 25px;
        border-radius: 0px;
        transition: all .3s ease-in-out;
        color: #1E3E71;
        font-weight: 500;
    }
    
    .c-nav-link:hover,
    .c-nav-link:active{
        background-color: #1E3E71;
        color: #EBF1FA;
    }

    .search-form{
        width: 100%;
    }
    // .search-form{
    //     background-color:#EBF1FA ;
    // }
}
