.blog-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  /* or 163% */

  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.8);
}
